/* Entire 'box' showing all information of posted tweet. Parent of
view tweet header, view-tweet content, view-tweet-foooter. */
.view-tweet {
  padding: 30px 15px 15px 15px;
  border: 4px solid;
  margin: 0px 0px 35px 0px;
  
}


/* The header in the posted tweet. Includes user photo, 
name and username */
.view-tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;
}


/*Parent of user image and name*/
.header-left {
    display: flex;
    align-items: center;
}


/*Users profile picture*/
.picture {
  height: 60%;
}


/* In the view-tweet-header displaying users name*/
.view-tweet-name {
  padding: 0px 0px 0px 10px;
}


/* Entire content for the users tweet*/
.view-tweet-content {
  padding: 25px 0px 5px 0px;
  border-bottom: 4px solid;
  word-wrap: break-word;
}


/* Text content for the users tweet*/
.view-tweet-content-text {
  padding: 0px 25px 0px 25px;
}

/* Footer of the new tweet include tweet age and symbols*/
.view-tweet-footer{
  padding: 10px 25px 0px 25px;
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.fa-flag {
  color: navy;
  margin: 4px;
}

.fa-heart {
  color: navy;
  margin: 4px;
}

.fa-retweet {
  color: navy;
  margin: 4px;
}

/*The following 3 CSS hover styles turn the text red*/
.fa-flag:hover {
  color: red;
}

.fa-heart:hover {
  color: red;
}

.fa-retweet:hover {
  color: red;
}