/*CSS styling for the button at the bottom of the page to move user to top*/
.move-up-btn {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  background-color: red;
  display: none;
  color: white;
}


/*The angle up arrows*/
.fa-angles-up {
  font-size: xx-large;
}


/*CSS for when the suer hovers over the button*/
.move-up-btn:hover {
  box-shadow: 3px 3px grey;
  color: black;
}


/*The parent of the button which will align it to the right side of page*/
.button-container {
  text-align: right;
}


/*Change of styling on utton for smaller view ports*/
@media only screen and (max-width: 1024px) {
  
  /*Slightly decreases button size*/
  .move-up-btn {
    width: 3em;
    height: 3em;
  }
}