/* Navigation bar CSS */
nav {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}


/* Tweeter logo in nav bar */
.logo {
  padding: 0em 0em 0em 1.5em;
  font-size: larger;
}


/* write new tweet on right side of sav bar */
.nav-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.5em .5em 0;
}


/* two red arrows underneath 'Write new Tweet'*/
.nav-arrows {
  color: red;
}