@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap");

/* Section of main that will allow the user to input their new tweet to a form */
.new-tweet {
  padding: 20px 0px 90px 0px;
}


/* New tweet form text box. Grandchild of new tweet*/
.new-tweet-form {
  font: bold;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 4px solid;
  background-color:  #f4f1ec;
  font-family: "Soruce Sans 3", sans-serif;
  display: flex;
}


/* This is underneath the text box that with tweet button and characher count.
 Child of new tweet. Parent of the button and character count*/
.underneath-textarea {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 0px 0px 0px;
}


/* Tweet 'submit' button. Child of underneath-textarea */
.button {
  background-color: #4682B4;
  margin-top: 5px;
  color: #f4f1ec;
}


/*When a user hovers their mouse over the tweet button the text turns black
and and orange box shadow eases in*/
.button:hover {
  color: rgba(22, 22, 22, 0.7);
  box-shadow: 3px 3px rgba(231, 179, 83, 0.775);
  transition: all 0.2s ease-in;
}


/*this is for the error messages due to charactercount. The wiggle animation syntax is animation: name of 
animation, the length it is played, and its iteration.*/  
.wiggle-animation {
  padding: 4px;
  color: red;
  width: 60%;
  animation: wiggle 2s linear 1;
}


/*This defines the motion of the animation*/
@keyframes wiggle {
  /*These percentages indicate at what point in the animations
  duraction will it be at certain degree*/
  0%, 7%, 40%, 100% {
    /*the transfrom property is set to rotate at a certain degree*/
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  
}
